<h2><%= @user.username %> has reviewed the following doctor(s): </h2>

<% @user.reviews.each do |review| %>
    "<%= review.content %>" about <%= link_to review.doctor.name, doctor_path(review.doctor) %>
<% end %>
<br><br>
<%=link_to "List of Doctors", doctors_path %>