<h1>Welcome, <%=current_user.username%>!</h1>

<h2>List of Black Doctors in the U.S.</h2>

<% @doctors.each do |doctor| %>
<ul>
    <il>
    <%= link_to doctor.name, doctor_path(doctor) %>
    </il>
</ul>
<% end %>
  