/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ________________________________________________*/
body {
    background-color:rgb(216, 214, 214) ;
    color:rgb(3, 3, 3);  
    height:100%; 
    width: 100%;  
}

#navigation {
    margin-left: 10%;
    margin-top: 0px;
    font-size:medium;
}

#page-redirection {
    text-align: center;
}

 /* Doctor's index */
 #welcome {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    text-align: center;
    text-decoration: underline;
    color: rgb(231, 54, 0);
    font-size:50px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #414141;
    margin-top: 100px;
    margin-bottom: 75px;
 }

 #user {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    font-size:medium;
    font-weight: bold;
    /* text-shadow: 1px 1px 1px #000000; */
    margin-top: 0px;
    margin-bottom: 75px;
    margin-right: 10%;
    text-align: right;
    text-decoration: underline;

 }
 #search-container {
text-align: center; 
font-size:larger;
}

 #list-header {
    text-align: center;
    margin-top: 10%;
 }

 #doctor-list {
    text-align: center;
    font-size: medium;
    
 }

 #doctor-name {
     text-decoration: solid;
     font-size: xx-small;
 }

 /* doctor show page */
 #doctor-name {
     margin-top: 15%;
     font-size: xx-large;
     text-align: center;
     text-decoration: underline;
 }

 #doctor-show {
     font-size: larger;
     text-align: center;
 }

 /* doctor reviews */
 #doctor-reviews {
    text-align: center;
    /* text-decoration: underline; */
    margin-top: 15%;
 }

 #review-il {
    text-align:center;
    font-size: large;

 }

 /* #review {
     font-size: large;
     text-align: center;

 } */
