<h2>All of <%= @doctor.name%>'s Reviews</h2>

<ul>
    <il>
    <% @reviews.each do |review| %>
        "<%=review.content %>" 
    <%end%>
    </il>
</ul>
<br><br>
<%= link_to "List of Doctors", doctors_path %>