<h1><%= @review.doctor.name %> Review %></h1>
<p>by <%= link_to @review.doctor.name, doctor_path(@review.doctor) if @review.doctor %> (<%= link_to "Edit review", edit_doctor_review_path(@review.doctor, @review) if @review.doctor %>)</p>
<p><%= @review.content %> </p>